version: "3.9"

services:
  db:
    image: postgres:16
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - ./db:/docker-entrypoint-initdb.d
    ports:
      - "${DB_PORT}:5432"

  web:
    build: .
    env_file:
      - .env
    ports:
      - "${WEB_PORT}:3000"
    depends_on:
      - db
